@using Models
@using Servicos
@model Models.Equipe

@{
	ViewData["Title"] = "Create";
}

<h1>Criar Nova Equipe</h1>

<hr />
<div class="row">
	<div class="col-md-4">
		<form asp-action="Create">
			<div asp-validation-summary="ModelOnly" class="text-danger"></div>

			@*aqui eu digito o codigo da equipe (nome)*@
			<div class="form-group">
				<label asp-for="Codigo" class="control-label"></label>
				<input asp-for="Codigo" class="form-control" placeholder="Codigo Equipe" />
				<span asp-validation-for="Codigo" class="text-danger"></span>
			</div>

			@*Aqui ele puxa todas as cidades cadastradas e me mostra numa dropdown list*@
			<div class="form-group">
				</> <label asp-for="Cidade" class="control-label"></label><br />

				@Html.DropDownListFor(f=> f.Cidade, new SelectList(ViewBag.Cidade, "Id", "Nome"), new {@class = "form-control"})




				@*esse bloco abaixo foi o primeiro dropdown pra mostrar as cidades, mas não gostei pq aparecia fora de ordem
					então achei como fazer pra aparecer ordenado e ta em cima!
					edit: fiz a mesma coisa com as checkbox de Pessoas ali em baixo, mas usando tecnica diferente.*@


				@*<select asp-for="Cidade" id="Cidade">
					@foreach (Cidade cidade in await BuscaCidade.BuscarTodasCidades())
					{
					<option value="@cidade.Nome"> @cidade.Nome </option>
					}
					</select>*@


			</div>
			@*Aqui cria as checkbox pra selecionar as pessoas da equipe, e pega o Id delas pra fazer o create*@
			<div class="form-group">
				<label asp-for="Pessoa" class="control-label">Pessoas Disponíveis:</label><br />
				@foreach (Pessoa pessoa in ViewBag.Pessoa)
				{
					<input name="VerificaPessoaEquipe" type="checkbox" value=@pessoa.Id>
					<label for="@pessoa.Nome"> @pessoa.Nome</label>

					<br />
				}
			</div>


			<div class="form-group">
				<input type="submit" value="Adicionar" class="btn btn-primary" />
			</div>
		</form>
	</div>
</div>

<div>
	<a asp-action="Index">Cancelar e Voltar</a>
</div>

@section Scripts {
    @{
	await Html.RenderPartialAsync("_ValidationScriptsPartial");
}
}


















@*@model Models.Equipe

	@{
	ViewData["Title"] = "Create";
	}

	<h2>Nova Equipe</h2>

	<hr />
	<div class="row">
	<div class="col-md-4">
	<form asp-action="Create">
	<div asp-validation-summary="ModelOnly" class="text-danger"></div>
	<div class="form-group">
	<label asp-for="Codigo" class="control-label"></label>
	<input asp-for="Codigo" class="form-control" />
	<span asp-validation-for="Codigo" class="text-danger"></span>
	</div>
	<div class="form-group">
	<label asp-for="Pessoa" class="control-label"></label>
	<input asp-for="Pessoa" class="form-control" />
	<span asp-validation-for="Pessoa" class="text-danger"></span>
	</div>
	<div class="form-group">
	<label asp-for="Cidade" class="control-label"></label>
	<input asp-for="Cidade" class="form-control" />
	<span asp-validation-for="Cidade" class="text-danger"></span>
	</div>
	<div class="form-group">
	<input type="submit" value="Adicionar" class="btn btn-primary" />
	</div>
	</form>
	</div>
	</div>

	<div>
	<a asp-action="Index">Cancelar e Voltar</a>
	</div>

	@section Scripts {
	@{
	await Html.RenderPartialAsync("_ValidationScriptsPartial");
	}
	}
*@